.wrap-hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.wrap-hero-game-1 {
    background-image: url('../img/shadows_light_poster.jpg');
}

.wrap-hero-game-2 {
    background-image: url('../img/theprotagonist-poster.jpg');
}

.header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    max-width: 815px;
    margin: auto;
    padding: 52px 0;
}

.header nav ul {
    display: flex;
    gap: 64px;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.section-hero {
    max-width: 675px;
    margin: auto;
    padding-top: 68px;
}

.hero-game {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 24px;
}

.hero-game {
    display: none;
}

h1 {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFBFA;
}

.section-hero p {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    text-align: center;
    /* SOLID RED/ White */
    color: #FFFBFA;
    opacity: 0.48;
}

.section-hero .game-logo {
    margin-top: 146px;
    max-height: 120px;
    width: auto;
}

.games-container-container {
    position: relative;
}

.games-controller {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    display: grid;
    align-content: center;
    grid-gap: 24px;
    grid-template-rows: 1fr auto 32px auto 1fr;
    z-index: 2;
    justify-items: end;
}

.game-controller-item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.games-controller .line {
    width: 1px;
    height: 100%;
    background-color: rgba(255, 251, 250, 0.24);
    margin-right: 15px;
}

.games-controller svg path {
    fill: rgba(255, 251, 250, 0.16);
}

.active-game-controller-item svg path {
    fill: rgba(255, 251, 250, 1);
}

.game-controller-item span {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    /* SOLID RED/ White */
    color: rgba(255, 251, 250, 0.32);
}

.active-game-controller-item span {
    color: rgba(255, 251, 250, 1);
}

.btn-primary-header {
    margin-top: 76px;
}

.show-hero-game {
    display: grid !important;
}

#burger-menu {
    display: none;
}

.mobile-menu-container {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 150;
    background-color: #080707;
    display: none;
}

.mobile-menu-nav {
    display: grid;
    grid-gap: 32px;
    margin: 32px;
}

.mobile-menu-nav li a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* SOLID RED/GREY */
    color: #E6E1E0;
}

#burger-menu img {
    display: none;
}

.show-burger-image {
    display: block !important;
}

@media only screen and (max-width: 1280px) {
    .games-controller {
        position: unset !important;
        right: unset;
        top: unset;
        bottom: unset;
        height: unset;
        grid-template-rows: unset;
        display: grid;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 24px;
        z-index: 2;
        justify-items: end;
        order: 1;
        justify-items: center;
    }
    .games-controller .line {
        display: none;
    }
    .games-container-container {
        display: grid;
    }
    .section-hero {
        order: 2;
    }
    .section-hero p {
        font-size: 16px;
    }
    .section-hero .game-logo {
        margin-top: 48px;
    }
    .btn-primary-header {
        margin-top: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .games-controller {
        grid-auto-flow: row;
        justify-items: end;
    }
    .section-hero {
        padding-top: 32px;
    }
    .header {
        padding: 32px 0;
    }
    .section-hero .game-logo {
        margin-top: 24px;
    }
}

@media only screen and (max-width: 680px) {
    .hero-game {
        grid-gap: 16px;
    }
    .header-nav-left,
    .header-nav-right {
        display: none;
    }
    #burger-menu {
        display: block;
    }
    #main-logo {
        max-width: 40px;
        height: auto;
    }
    .section-hero p {
        font-size: 14px;
    }
    .btn-primary-header {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 570px) {
    .game-logo {
        width: 100% !important;
        height: auto;
    }
}