@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #fff;
}

::selection {
  color: #080707;
  background: #080707;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: 0;
  transition: 0.2s ease-in-out;
}

body {
  background-color: #080707;
  color: #fff;
  font-family: "DM Sans";
  font-weight: 400;
  font-style: normal;
}

a,
input,
textarea,
button {
  color: #fff;
  font-family: "DM Sans";
  font-weight: 400;
}

.out-container {
  max-width: 1776px;
  margin: auto;
}

.container {
  margin: 0 48px;
}

img {
  width: 100%;
  height: auto;
}

button {
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn-primary {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 16px;
  padding: 24px 64px;
  border: 1px solid #fffbfa;
  position: relative;
}

.btn-hoverline {
  content: "";
  position: absolute;
  right: -4px;
  bottom: -4px;
  width: 100%;
  height: 100%;
  border: 1px solid #fffbfa;
  display: none;
}

.btn-primary:hover > .btn-hoverline {
  display: block;
}

/******************************SECTION ABOUT US STYLES**************************/
.section-about-us {
  margin-top: 120px;
}

.section-about-us__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.section-about-us__heading {
  display: flex;
  align-items: center;
  gap: 100px;
}

.section-about-us__heading img {
  width: 42px;
}

.left-arrow {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.heading-secondary {
  font-family: "Orbitron";
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fffbfa;
}

/*  NAV */

.section-about-us__nav-box {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  height: 64px;
}

.section-about-us__nav-list {
  cursor: pointer;
  transition: all 0.4s;
}

.section-about-us__nav-link {
  font-family: "Orbitron";
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #e6e1e0;
  opacity: 0.48;
  transition: all 0.4s;
}

.border__bottom {
  transition: all 0.4s;
}

.section-about-us__nav-list.active .section-about-us__nav-link,
.section-about-us__nav-list:hover .section-about-us__nav-link {
  font-size: 32px;
  line-height: 40px;
  opacity: 1;
}

.section-about-us__nav-list.active .border__bottom,
.section-about-us__nav-list:hover .border__bottom {
  margin-top: 8px;
  height: 14px;
  background: radial-gradient(
    45.66% 55.87% at 50% 50%,
    #e1261c 0%,
    #e22c1f 11.52%,
    #e53826 25%,
    rgba(231, 72, 49, 0.7243) 50.22%,
    rgba(235, 106, 81, 0.18) 100%
  );
}

/* FOUNDERS */
.section-about-us__founders-img {
  height: 25vh;
  width: 25vh;
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/******************************FOOTER STYLES**************************/

.footer {
  margin-top: 152px;
  margin-bottom: 80px;
}

.footer__header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 80px;
}

.heading-tertiary {
  font-family: "Orbitron";
  font-weight: 900;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #fffbfa;
  width: max-content;
}

.footer__header-border {
  border: 1px solid #fffbfa;
  opacity: 0.08;
  width: 100%;
}

.footer__header-socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.footer__header-social img {
  width: 32px;
  height: 32px;
}

/* footer nav */

.footer__content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__nav-above {
  margin-top: 32px;
}

.footer__nav__box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__nav-above__link:link,
.footer__nav-above__link:visited {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #e6e1e0;
  width: max-content;
}

.footer__nav-above__link:hover,
.footer__nav-above__link:active {
  color: rgba(230, 225, 224, 0.8);
}

.footer__nav-above__border {
  border: 1px solid #e6e1e0;
  opacity: 0.38;
  width: 2px;
  height: 8px;
}

.footer__copyright-text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 18px;
  color: #e6e1e0;
  opacity: 0.64;
}

/* below nav */

.footer__nav-below {
  margin-top: 24px;
}

.footer__nav-below__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #e6e1e0;
  opacity: 0.4;
}

.footer__nav-below__border {
  width: 2px;
  height: 4px;
  background: #e6e1e0;
  opacity: 0.38;
}
